<main class="content">
     <h2 class="content-title">About Us</h2>

     <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas modi atque itaque unde maxime consectetur cupiditate iusto animi, odit ullam doloremque placeat quisquam veritatis fugit harum recusandae doloribus, possimus incidunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas modi atque itaque unde maxime consectetur cupiditate iusto animi, odit ullam doloremque placeat quisquam veritatis fugit harum recusandae doloribus, possimus incidunt.</p>

     <br>

     <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas modi atque itaque unde maxime consectetur cupiditate iusto animi, odit ullam doloremque placeat quisquam veritatis fugit harum recusandae doloribus, possimus incidunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas modi atque itaque unde maxime consectetur cupiditate iusto animi, odit ullam doloremque placeat quisquam veritatis fugit harum recusandae doloribus, possimus incidunt.</p>
</main>
